@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


        <h4>Images served from wwwroot:</h4>
        <img src="~/images/azure.png" alt="Microsoft Azure" class="img-responsive" />
        <hr />
        <h4>Images served from MyStaticFiles:</h4>
        <img src="~/StaticFiles/images/microsoft.png" alt="Microsoft" class="img-responsive" />
        <hr />
        <h4>Images served from StaticFiles (file server):</h4>
        <img src="~/StaticFiles/images/microsoft.png" alt="Microsoft" class="img-responsive" />
        <hr />
        <p><a href="/MyImages">Browse directory</a></p>
        <p><a href="/StaticFiles">File server</a></p>
    </div>
